[submodule "third_party/QXlsx"]
	path = third_party/QXlsx
	url = https://github.com/QtExcel/QXlsx.git
[submodule "third_party/QR-Code-generator"]
	path = third_party/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "third_party/zxing-cpp"]
	path = third_party/zxing-cpp
	url = https://github.com/zxing-cpp/zxing-cpp.git
